@model List<EjerPropuesto3_TM_A.Models.RESULTADO>
@{
    ViewBag.Title = "Grafico3";

    String nombre = "";
    int valor = 0;
    double cantidad = 0;
    double total = 0;
    double porcentaje = 0, sumaporcentaje = 0;

    string data = "";
    string data1 = "";
    string data2 = "";

}


<center>
    <h2 class="card-header">
        Generar Grafico 3
    </h2>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Nº</td>
                    <td>Resultado del Estudiante</td>
                    <td>Criterios de Desempeño</td>
                    <td>Porcentaje</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    total = total + m.CRITERIO.Count();
                }

                @foreach (var m in Model)
                {

                    porcentaje = 0;
                    cantidad++;


                    valor = m.CRITERIO.Count();

                    porcentaje = ((valor * 100) / total);
                    porcentaje = Math.Round(porcentaje, 2);
                    sumaporcentaje = sumaporcentaje + porcentaje;


                    valor = m.CRITERIO.Count();
                    nombre = m.NOMBRE;

                    data1 = data1 + "['" + nombre + "'" + "],";

                    data2 = data2 + "['" + nombre + "'," + porcentaje + "," + "],";

                    data = data + "['" + nombre + "'," + valor + "," + "],";


                    <tr>
                        <td>@(m.ID)</td>
                        <td>@(m.NOMBRE)</td>
                        <td>@(m.CRITERIO.Count())</td>
                        <td>@porcentaje %</td>
                    </tr>

                }
                <tr>
                    <td colspan="2">Total: </td>
                    <th>@(total) </th>
                    <th>@sumaporcentaje</th>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <figure class="highcharts-figure">
        <div id="container" style="min-width:310px;height:400px;margin:0 auto"></div>
    </figure>
</center>

<div id="container" style="min-width: 320px; height:400px; margin:0 auto">

</div>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Grafico de Criterios de Desempeño'
    },
    subtitle: {
        text: 'Cantidad'
    },
    xAxis: {
        categories: [@Html.Raw((String)data1)],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' %'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Criterios de Desempeño',
        data: [@Html.Raw((String)data)]
    }, {
        name: 'Porcentaje',
        data: [@Html.Raw((String)data2)]
    }]
});
        });
    });
</script>

